<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocNet</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
        body{
            background-color: #d9e4ef;
            text-align:center;
            min-height: 600px;
        }        
    </style>
</head>
    <body>

        <div class="grid">


        
            @include('layouts/navbar')

            
            @!section('content')

            

            

        
            
        </div>
        <script src="js/bootstrap.bundle.js"></script>
    </body>
    
</html>