@layout('layouts/app')

    @section('content')
    
        <h1>Home</h1>

        <p>Small project</p>

        <!--<a href="{{ route('/about') }}">About</a>-->

        tu si

        

    @endsection