<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <style>
        body{
            background-color: #d9e4ef;
            text-align:center;
            min-height: 600px;
        }        
    </style>
</head>
    <body>

            @include('layouts/navbar')

            @layout('layouts/app')

            @section('content')

                <h1>Update Details</h1>
                
                <div class="container text-center">
                <div class="row justify-content-md-center">
                <div class="card-body">


                <form action="" method="post" enctype="multipart/form-data">

                            <div class="col">
                                <div class="form-floating">
                                    <textarea class="form-control" type="text" name="details" placeholder="Your bio" id="floatingTextarea2" style="height: 100px">{{auth.user.details}}</textarea>
                                    <label for="floatingTextarea2">Your bio</label>
                                </div>
                            </div><hr>

                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="file" name="avatar" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div><hr>

                            <div class="col">
                                <div class="input-group mb-3">
                                    <button class="btn btn-secondary" type="submit" value="Update">Update</button>
                                </div>
                            </div>   

                            
                                                
                </form>


                </div></div></div>

                @endsection
  
        


        <script src="../js/bootstrap.bundle.js"></script>
    </body>
    
</html>